html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
}

/* ---------- HEADER ---------- */
.header__inner{
    width: 100%;
    max-width: 1300px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 40px;
}

.header__nav-list {
    display: flex;
    gap: 40px;
    font-weight: 400;
    font-size: 20px;
    color: #2c3847;
}

.header__nav-link {
    transition: color 400ms ease;
}

.header__nav-link:hover {
    color: #5fb848;
}

.header__form {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: -200px;
}

.header__button {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px 27px;
    background: #494949;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #fff;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

    &.header__button:hover {
        transform: translateY(-5px);
        box-shadow: 0 20px 20px #5fb848;
    }
}

/* ---------- HERO ---------- */
.hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 1px;
}

 .hero__img{
     background-repeat: no-repeat;
     background-size: cover;
     max-width: 800px;
 }

.hero__text {
    width: 100%;
    max-width: 600px;
    height: 531px;
    display: flex;
    flex-direction: column;
    padding-top:70px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.hero__text-title {
    font-weight: 700;
    font-size: 4rem;
    color: #181d19;
    margin-bottom: 30px;
}

.hero__text-title span {
    color: #5fb848;
}

.hero__text-description {
    width: 100%;
    max-width: 600px;
    font-weight: 750;
    font-size: 24px;
    line-height: 142%;
    color: #181d19;
    margin-bottom: 50px;
}

.hero__text-button {
    border-radius: 50px;
    width: 200px;
    padding: 25px 25px;
    background: linear-gradient(180deg, #64bb47 0%, #2c9553 100%);
    margin-right: 300px;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #fff;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

    &.hero__text-button:hover {
        transform: translateY(-12px);
        box-shadow: 0 20px 20px #5fb848;
    }
}
/* ---------- chooseus ---------- */

.chooseus{

}


@media only screen and (max-width: 1270px) {

    .header__form {
        margin-right: -100px;
    }

    .hero__img{
        width: 700px;
    }

}

@media only screen and (max-width: 1060px) {


    .header__inner{

    }

    .header__form {
       display: none;
    }

    .hero{
       display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .hero__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .hero__text-title{
        font-weight: 600;
        font-size: 3.4rem;
        margin-bottom: 20px;
    }

.hero__text-description {
    font-weight: 600;
    font-size: 1.5rem;
}

    .hero__text-button{
        padding: 28px 30px;
        margin:  0 20px;
    }

    .hero__img{
        max-width: 60px;
        position: absolute;
        top: 340px;
    }

}

@media only screen and (max-width: 1200px) {

    .hero__img{
        width: 100%;
    }

}





@media (max-width: 768px) {
    .hero__img {
        width: 100%;
    }
}